@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 13, 100%, 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --black: #04152d;
    --black2: #041226;
    --black3: #020c1b;
    --black-lighter: #1c4b91;
    --black-light: #173d77;
    --pink: #da2f68;
    --orange: #f89e00;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 13, 100%, 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --black: #04152d;
    --black2: #041226;
    --black3: #020c1b;
    --black-lighter: #1c4b91;
    --black-light: #173d77;
    --pink: #da2f68;
    --orange: #f89e00;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .max-container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .section-effect::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -30px;
    height: 5px;
    width: 50%;
    background: linear-gradient(
      90deg,
      var(--primary),
      var(--primary),
      transparent
    );
    z-index: 800;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal  pl-5 max-sm:p-5 outline-none sm:border-none border  max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
  .date-effect {
    text-shadow: 0 0 13px rgba(255, 255, 255, 2);
    font-weight: 800;
    font-size: 4rem;
    -webkit-mask: linear-gradient(#000000 0 0), linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
  }

  .section-effect::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    height: 5px;
    width: 70%;
    display: inline-block;
    background: linear-gradient(
      90deg,
      hsl(13, 100%, 50%),
      hsl(13, 100%, 50%),
      transparent
    );
    z-index: 800;
  }

  .play-icon {
    position: relative;
    height: 60px;
    width: 60px;
    cursor: pointer;
    color: hsl(13, 100%, 50%);
    z-index: 100;
  }

  .gradient-btn {
    background-image: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    border-radius: 8px;
    padding: 6px 15px;
  }
  .gradient-btn:hover {
    background-image: linear-gradient(98.37deg, #eb9603e7 0.99%, #a71d4b 100%);
  }

  .animate-play {
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: transparent;
    border: 10px solid #ffffff;
    border-radius: 50%;
    animation: button 1s linear infinite;
    z-index: 1000;
  }

  @keyframes button {
    0%,
    100% {
      opacity: 0.3;
      filter: blur(4px);
    }
    50% {
      opacity: 1;
      filter: blur(10px);
    }
  }
}
